.item-card {
    max-width: 500px;
    align-items: center;
    margin: 5%;
}

.centering {
    display: grid;
    justify-content: center;
}

.mat-mdc-raised-button {
    background-color: green;
}

.mat-mdc-card-content {
    color: white;
}

.mat-mdc-card-header {
    color: white;
}

.mat-mdc-card-actions{
    padding: 15px;
}