
<mat-card class="result">
  <mat-card-content>
    <h2 class="example-h2">Example list</h2>

    <section class="Checkbox">
      <mat-checkbox class="example-margin" [(ngModel)]="checked" [disabled]="disabled">
        I'm a checkbox
      </mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>
<br>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Production List</h2>    
    <div class="list" *ngFor="let item of listLine; let i = index">
      <mat-checkbox class="example-margin" [(ngModel)]="checked">
      <div>
        <span class="title">Item number:</span> {{i +1}}
        <div>
          <span class="title"> Title:</span>
          <input [(ngModel)]="item.title" type="text">
        </div>
      
        <div> 
          <span class="title"> Description:</span>
          <input [(ngModel)]="item.description" type="text">
        </div>
        <span class="remove">
          <button mat-raised-button color="warn" (click)='removeListLine(i)'> X</button>
        </span>
      </div>
      </mat-checkbox>
    </div>
  </mat-card-content>
  <div>
    <button mat-raised-button color="primary" (click)="addListLine()">Add</button>
  </div>
</mat-card>

  