<p>
  <mat-toolbar color="primary">
    <span>Grocery Helper</span>
   
    <button mat-button class="item-spacers" *ngIf="this.loggedIn" [routerLink]="['/list']" [routerLinkActive]="'active'">Lists</button>
    <button mat-button class="item-spacers" *ngIf="this.loggedIn" [routerLink]="['/recipes']" [routerLinkActive]="'active'">Recipes</button>
    <button mat-button class="item-spacers" *ngIf="this.loggedIn" [routerLink]="['/items']" [routerLinkActive]="'active'">Items</button>
    <button mat-button class="item-spacers" *ngIf="this.loggedIn" [routerLink]="['/ingredients']" [routerLinkActive]="'active'">Ingredients</button>

    <span class="spacer"></span>

    <!-- if not logged in -->
    <button mat-button class="login-register"  *ngIf="!this.loggedIn"[routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Login</button>
    <button mat-button class="login-register" *ngIf="!this.loggedIn" [routerLink]="['/register']" [routerLinkActive]="'active'">Register</button>

    <!-- Logged in  -->
    <button mat-button class="login-register" *ngIf="this.loggedIn" [routerLink]="['/']" [routerLinkActive]="'active'" (click)="handleLogout()">Logout</button>

  </mat-toolbar>
</p>