<div class="login-form-container">
  <h1>Log in</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </p>
    <p>
      <button mat-flat-button color="primary" type="submit" cdkFocusInitial [disabled]="!loginForm.valid || isSubmitted">LOG IN</button>
    </p>
  </form>
</div>
