<div class="row">
  <div class="col-6 offset-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="inputUsername" class="form-label">username</label>
        <input type="username" class="form-control" id="inputUsername" formControlName="username">
        <div class="form-text text-danger" *ngIf="loginFormControls['username'].invalid && (loginFormControls['username'].dirty || loginFormControls['username'].touched)">
          <ng-container *ngIf="loginFormControls['username'].errors?.['required']">
            Please enter your username.
          </ng-container>
        </div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" formControlName="password">
        <div class="form-text text-danger" *ngIf="loginFormControls['password'].invalid && (loginFormControls['password'].dirty || loginFormControls['password'].touched)">
          <ng-container *ngIf="loginFormControls['password'].errors?.['required']">
            Please enter your password.
          </ng-container>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid || isSubmitted">Submit</button>
    </form>
  </div>
</div>
<!-- <div class="login-form-container">
  <h1>Log in</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </p>
    <p>
      <button mat-flat-button color="primary" type="submit" cdkFocusInitial [disabled]="!loginForm.valid || isSubmitted">LOG IN</button>
    </p>
  </form>
</div> -->
